html {
  width: 100%;
  height: 100%;
}

.card {
  width: 200px;
  height: 200px;
  border: 2px solid red;
}

dialog {
  margin: auto;
  border-radius: 8px;
  border: none;
}

form {
  padding: 1rem;
}

dialog::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

form input {
  padding: 1rem;
}

form button {
  border: none;
  border-radius: 8px;
  padding: 1rem 2rem;
}

#cancelBtn {
  color: #fff;
  background-color: #e76f51;
}

#cancelBtn:hover {
  cursor: pointer;
  background-color: #f56845;
}

#confirmBtn {
  color: #fff;
  background-color: #2a9d8f;
}

#confirmBtn:hover {
  cursor: pointer;
  background-color: #2fb4a4;
}

input[type="radio"] {
  appearance: none;

  border-radius: 50%;
  width: 10px;
  height: 10px;

  border: 2px solid #cacaca;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
}

.radios {
  display: flex;
  align-items: center;
}

.radios label {
  margin-right: 1rem;
}

input[type="radio"]:checked {
  background-color: #2a9d8f;
}

input[type="radio"]:hover {
  cursor: pointer;
}
