html {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
}

.title {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.title img {
  width: 12%;
}

h1 {
  font-weight: 800;
  margin-top: 1rem;
  font-size: 2.5rem;
}

main {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.container {
  background-color: #f6e1cc;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem 1rem;
  border-radius: 10px;
}

.card {
  padding: 2rem;
  background-color: #63bbb1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1rem;
  font-weight: 500;
  width: 250px;
}

.card button {
  width: 80%;
  margin-top: 1rem;
  font-weight: 400;
  height: 2rem;
}

dialog {
  background-color: #f6e9d5;
  margin: auto;
  border-radius: 8px;
  border: none;
}

form {
  padding: 1rem;
}

dialog::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

form input {
  padding: 1rem;
}

button {
  border-radius: 8px;
  border: none;
}

form button {
  padding: 1rem 2rem;
}

#cancelBtn {
  color: #fff;
  background-color: #e76f51;
}

#cancelBtn:hover {
  background-color: #f56845;
}

#confirmBtn {
  color: #fff;
  background-color: #2a9d8f;
}

#confirmBtn:hover {
  background-color: #2fb4a4;
}

input[type="radio"] {
  appearance: none;

  border-radius: 50%;
  width: 10px;
  height: 10px;

  border: 2px solid #cacaca;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
}

.radios {
  display: flex;
  align-items: center;
}

.radios label {
  margin-right: 1rem;
}

input[type="radio"]:checked {
  background-color: #2a9d8f;
}

button:hover,
input[type="radio"]:hover {
  cursor: pointer;
}

#addBookBtn {
  background-color: #e09f55;
  padding: 1rem 5rem;
  color: #fff;
  font-size: 1.5rem;
  margin: 1rem;
}

#addBookBtn:hover {
  background-color: #f5a346;
}
